<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Cases in The World</title>
    <!-- image sizing -->
    <style>

        .col-md-3 img {
            max-width: 70%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <!-- centered image -->   
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/minty/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PR : 3 GRP : 05</a>
          <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard" >Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/citation">Citation</a>
              </li>
            </ul>
        </div>
    </nav>
    <!--Dashboard-->
    <div class="container-fluid">
        <div class="row">
            <div class = "col-md-12 text-center">
                <br>
                <h1> About Group 5</h1>

            </div>
        </div>
        <br>
        <div class="row">
            <div class = "col-md-1">
                
            </div>
            <div class = "col-md-3">
                <img src="./static/sabina.jpg" alt="My Photo" style="display: block; margin: 0 auto;">
            </div>
            <div class = "col-md-4">
                <p*> Ms.Sabina Kamalova is 24 years old, a proud daughter, sister, wife, 
                    and mother. She is currently working as a nurse, a career that allows her to care
                    for others and make a difference in their lives every day. Outside of work, she 
                    loves to express her creativity through painting and sketching. </p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class = "col-md-2">
                
            </div>
            <div class = "col-md-4">
                <p*> Mr. Amar Patil is a Mechanical Engineer by profession with over 12 years of experience in the Power/Energy sector. 
                    He holds a Master of Science in Mechanical Engineering from Kansas State University. 
                    His recent work in data acquisition and data analysis inspired him to join the Data Analytics and Visualization Boot Camp at UCF.
                    He looks forward to pursuing a career in data analytics and applying it to his current organization.
                     In his free time, he enjoys biking, jogging, and cooking.
                     </p>
            </div>
            <div class = "col-md-3">
                <img src="./static/AmarP.jpg" alt="My Photo" style="display: block; margin: 0 auto;">
            </div>

        </div>
        <br>
        <br>
        <div class="row">
            <div class = "col-md-1">
                
            </div>
            <div class = "col-md-3">
                <img src="./static/AJ_Headshot .jpg" alt="My Photo" style="display: block; margin: 0 auto;width: 300px; height: 200px;">
            </div>
            <div class = "col-md-4">
                <p*> Mr.Andrew Montemayor currently is working as a Contract Analyst in the oil and gas energy sector in Houston, TX, at Enbridge Inc.
                    Focusing in the analysis/compliance and administration of Gas Transmission and Midstream contracts. 
                    In addition to interdepartmental and business development based projects.
                    Prior to this he held a Legal assistant position for a large chemical corporation, OQ Chemicals (formerly OXEA). Focusing in corporate compliance, contract database management, and in-house council assistance.
                    He graduated from the University of Houston-Downtown (Magna Cum Laude) with a BBA degree in Finance. Currently applying for the Masters Program in Data Science at RICE University. </p>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class = "col-md-2">
                
            </div>
            <div class = "col-md-4">
                <p*>  Mr.Earl Lewis IV lives on the East Coast in a small but up-and-
                    coming city in Virginia. He works for the University of Richmond as a Technical 
                    Support Consultant, and have been with the University for 2 years. </p>
            </div>
            <div class = "col-md-3">
                <!-- <img src="./sta" alt="My Photo" style="display: block; margin: 0 auto;"> -->
            </div>

        </div>
        <br>
        <div class="row">
            <div class = "col-md-6">
                <div id = "sunburst"></div>
            </div>
            <div class = "col-md-6">
                <div id = "heatmap"></div>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-12">
                <div id = "table"></div>
            </div>
        </div>
    </div>

  <script src="../static/js/app.js"></script>

</body>

</html>
