<!DOCTYPE html>
<html lang="en">
    <style>
        .col-md-8 h1 {
            text-align: center; /* Center align only the h1 content */
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Cases in The World</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://bootswatch.com/5/minty/bootstrap.min.css", rel="stylesheet">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PR : 3 GRP : 05</a>
          <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/about_us">About us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/citation">Citation</a>
              </li>
            </ul>
        </div>
    </nav>

    <!-- add spacing -->
     <br/>

    <!--Dashboard-->

    <div class="container-fluid">
        <div class="row">
            <div class = "col-md-2">
                <!-- <div id = "empty space"></div> -->
            </div>
            <div class = "col-md-8">
                <h1> Covid -19 Impacts </h1>
                <br/>
                <br/>
                
                
                <div>
                    <p>The COVID-19 pandemic dramatically altered the fabric of daily life across the globe, affecting everything from economic stability to personal well-being. Businesses, especially small and local ones, faced unprecedented challenges as lockdowns and restrictions were implemented to curb the spread of the virus. Many of these businesses, unable to sustain prolonged closures or adapt quickly to the changing environment, were forced to shut down permanently. This led to significant job losses and financial instability for millions of people.</p>
            
                    <p>The ripple effects were felt across industries, with the global supply chain experiencing severe disruptions. Essential goods became scarce in some regions, leading to price increases and making it difficult for many people to access necessities. The shift to remote work became a defining feature of the pandemic era, and while some individuals and companies thrived under this new model, others struggled. Those without reliable technology or a stable internet connection found it particularly challenging, deepening the digital divide and exacerbating existing inequalities.</p>
            
                    <p>On a personal and social level, the pandemic's impact was equally profound. The prolonged isolation caused by social distancing measures took a significant toll on mental health. Many people experienced heightened levels of stress, anxiety, and loneliness, as they were separated from loved ones and faced the constant uncertainty of the situation. The fear of contracting the virus and the grief of losing friends or family members added to the emotional strain.</p>
            
                    <p>Additionally, the pandemic exposed and often worsened pre-existing inequalities, particularly in access to healthcare and social services. Vulnerable populations, including the elderly, low-income families, and those with pre-existing health conditions, were disproportionately affected. Despite these overwhelming challenges, there were also moments of resilience and solidarity. Communities came together in new ways, supporting one another through mutual aid networks and acts of kindness.</p>
            
                    <p>The rapid development and distribution of vaccines provided a much-needed sense of hope, signaling a possible end to the crisis and a path forward toward recovery. While the pandemic's effects will be felt for years to come, the collective response has also shown the capacity for innovation, adaptation, and compassion in the face of adversity.</p>
            
                    <p>We developed this website to showcase the impact of COVID-19, not just in our country but across the entire world. Our aim is to provide an in-depth perspective on how the pandemic has influenced lives, economies, and societies globally.</p>
                </div>
            </div>
            <div class = "col-md-2">
                <!-- <div id = "empty space"></div> -->
            </div>
            </div>
        </div>
     
    </div>
    <br/>


</body>

</html>
